#spinner{
    width: 100px;
    height: 100px;
    margin:auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.loading-title{
    text-align: center;
    color: #fff;
    margin: auto;
}

